section {
  display: flex;
  flex-flow: column wrap;
}

.welcome-container {
  height: 18em;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

h1 {
  animation-name: fadein;
  animation-fill-mode: backwards;
  animation-duration: 5s;
  animation-delay: .7s;
  color: black;
  text-align: center;
  font-size: 7em;
  font-family: 'Sacramento', cursive;
  margin-top: 1em;
}

.cloud-container {
  display: flex;
  justify-content: center;
}

@keyframes colors {
  0%  {color: darkblue;}
  25%  {color: darkorchid;}
  50%  {color: violet;}
  100%  {color: darkmagenta;}
}


#cloud {
  color: black;
  font-size: 6em;
  opacity: .9;
  animation-name: colors;
  animation-delay: .3s;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction:alternate-reverse;
  width: 7em;  
}

#cloud:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  
}

a {
  color: black;
  text-decoration: none;
}



/* TEST HEART ANIMATION */
