
body {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  width: 600px;
  height: 100%;
}

header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  border: 1px solid lightgrey;
  height: 5em;
  width: 34em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-left: 0em;
  border-bottom: 0em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.header-icon-cloud-container {
  display: flex;
  justify-content: flex-start;
}

.header-top-text {
  display: flex;
  justify-content: center;
}

#header-cloud {
  margin-left: -5em;
  font-size: 2em;
  opacity: .9;
  transition: opacity 1s ease-in-out 1s;
}

#header-cloud:hover {
  color: darkorchid;
  opacity: 1;
}

.header-title {
  font-size: 30px;
  font-family: 'Sacramento', cursive;
  margin-left: 0em;
  font-weight: bolder;
}

.header-date {
  text-align: center;
  font-size: 10px;
  font-family: 'Almarai', sans-serif;
  margin-left: 0em;
}

.main-section-container {
  border: 1px solid lightgrey;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 3em;

}

.card-grey {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: rgb(222, 222, 222);
  width: 30em;
  height: 10.8em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 1em;
  margin-top: 2em;
}

.card-white {
  background-color: white;
  height: 7em;
  width: 28em;
  margin: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.top-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2em;
  width: 28em;
  margin-top: 1em;
  margin-bottom: 0;
}

.dream-type {
  margin-left: 1.5em;
  font-size: 18px;
  font-family: 'Almarai', sans-serif;
}

.tag-icon-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
}

#tag-icons {
  margin-right: .8em;
  font-size: 2em;
}

#tag-icons:hover {
  color: purple;
 
}

hr {
  width: 24em;
}

.date {
  margin-left: 2.8em;
  font-family: 'Almarai', sans-serif;
  font-size: .7em;
}

#check-circle {
  margin-top: .6em;
  margin-left: 4.7em;
  font-size: 2.8em;
  font-weight: bolder;
  color: darkorchid;
}

#check-circle:hover {
  color: black;
  opacity: 1;
}

a {
  color: black;
  text-decoration: none;
}

/* DROPDOWN BUTTONS */

.dropdown {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 3em;
  top: .5em;
  width: 225px;
  background-color: whitesmoke;
  border-radius: 5px;
  border-top: 3px solid darkorchid;
  border-right: 3px solid darkorchid;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 20px 20px;
  z-index: 1;
  opacity: .8;
}

.dropdown:hover .dropdown-content {
  display: block;
  
}

#dropdown-icons {
  color:black;
  font-size: 2em;
  padding-left: 4em;
}

.color-icon-container {
  display: flex;
  flex-flow: column wrap;
}
